*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#header
{
    background-color: #E8EFFF;
    display: inline-block;
    text-align: center;
    margin-right: 0px;
    
}
a{
    text-decoration: none;
}
#nav{
    background-color: #656E71;
    
    
}
nav ul
{
    list-style: none;
    transform: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#contener
{
    max-width: 1200px;
    margin: auto;
}
nav ul li:nth-child(2) button{
    height: 50px;
    padding: 0px 12px;
    cursor: pointer;
    background-color: transparent;
    color:black;
    border: 1px solid black;
    border-radius: 7px;
    transition: all 0.5s ease;  
    margin-left: 50px;
    margin-left: 10px;
}
nav ul li:nth-child(2) button i{
    margin-right: 6px;
    
}
nav ul li:nth-child(3) a{
    color: rgb(247, 22, 22);
}

nav ul li :nth-child(2) i{
    color: palevioletred;
    font-size: 20px;
    margin-left: 6px;
}
nav ul li:nth-child(4)
{
    position: relative;
}
nav ul li:nth-child(4) input
{
    height: 30px;
    width: 250px;
    border-radius: 7px;
    border: none;
}
nav ul li:nth-child(4) i{
    position: absolute;
    font-size: 15px;
    right: 12px;
    line-height: 30px;
    cursor: pointer;
}
nav ul li:nth-child(5) button{
    height: 50px;
    padding: 0px 12px;
    cursor: pointer;
    background-color: transparent;
    color:black;
    border: 1px solid black;
    border-radius: 7px;
    transition: all 0.5s ease;
    margin-left: 10px;
}
nav ul li:nth-child(5) button i
{
    margin-right: 6px;

}
nav ul li:nth-child(5) button:hover
{
    background-color: pink;
}
nav ul li:nth-child(6) button{
    width: 140px;
    height: 70px;
    padding: 0px 12px;
    cursor: pointer;
    background-color: transparent;
    color:black;
    border: 1px solid black;
    border-radius: 7px;
    transition: all 0.5s ease;
    margin-left: 10px;
}
nav ul li:nth-child(6) button i
{
    margin-left: 6px;

}
nav ul li:nth-child(6) button:hover
{
    background-color: pink;
}

nav ul li:nth-child(7) button{
    width: 140px;
    height: 70px;
    padding: 0px 12px;
    cursor: pointer;
    background-color: transparent;
    color:black;
    border: 1px solid black;
    border-radius: 7px;
    transition: all 0.5s ease;
    margin-left: 10px;
}
nav ul li:nth-child(7) button i
{
    margin-left: 6px;

}
nav ul li:nth-child(7) button:hover
{
    background-color: pink;
}

nav ul li:nth-child(8) button{
    width: 140px;
    height: 70px;
    padding: 0px 12px;
    cursor: pointer;
    background-color: transparent;
    color:black;
    border: 1px solid black;
    border-radius: 7px;
    transition: all 0.5s ease;

}
nav ul li:nth-child(8) button i
{
    margin-left: 6px;

}
nav ul li:nth-child(8) button:hover
{
    background-color: pink;
}
nav ul li:nth-child(9) button{
    width: 140px;
    height: 70px;
    padding: 0px 12px;
    cursor: pointer;
    background-color: transparent;
    color:black;
    border: 1px solid black;
    border-radius: 7px;
    transition: all 0.5s ease;
    margin-left: 10px;
}
nav ul li:nth-child(9) button i
{
    margin-left: 6px;

}
nav ul li:nth-child(9) button:hover
{
    background-color: pink;
}
#sidebar
{
    display: flex;
    background-color: #3eaccb;
}
#conten{
    max-width: 1200px;
    margin: 0px;
}
content li{
    margin-left: 20px;
}

sidebar ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    color: black;
    border-bottom:2px  solid #ccc;
    padding: 0px 15px;
    margin:0;
}
sidebar ul:nth-child(1) i{
    color: red;
}
#Boxname
{
    background-color: #3eaccb;
}
Boxname h1,div{
    display: inline-block;
    justify-content: space-between;
}
Boxname h1{
    margin-left: 70px;
    margin-top: 20px;
}
Boxname button
{
    padding: 0px 12px;
    border-radius: 7px;
    transition: all 0.5s ease;
}
Boxname button:hover
{
    background-color: pink;
}
#border1
layout
{
    width:55% ;
    height: 400px;
    display: flex;
    margin-top: 20px;
    padding: 0 20px;
    position: relative;
    float: left;
}
layout button{
    height:450px;
    width: 720px;
    background-color:#E9898F;
    border-radius: 60px;
    margin-left: 80px;
    margin-top: 20px;
}

layout img{
    background-color:#E9898F ;
    width: 140px;
    height: 140px;
    margin-top: 90px;
    margin-right: 600px;
    margin-left: 40px;
    border-radius: 10px;
    text-align: left;
    display: inline-block;
    
}
layout  ul li {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-left:350px;
    text-transform:uppercase;
    float:le;
}
layot ul li{
    margin-bottom: 6000px;
}
layout .box-left, layout .box-right{
    width: 100%;
}
layout .box-left
{
    font-size: 29px;
    margin-top: 1px;
}
layout ul{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top:-350px;
    clear: both;
    align-items: center;
    list-style-type: none;
    color: #ccc;
    margin-left: -30px;
}
attack
{
    display: block;
    width: 43%;
    background-color: white;
    height: 400px;
    float: right;
    margin-left: -80px;
    margin-top: 35px;
}
.tack{
    border: 2px solid black;
    border-radius: 15px;
    height: 57px;
    width: 150px;
    position: absolute;
    display: flex;
}
.tack a{
    color: black;
}
.tack:hover{
    background-color: rgb(64, 64, 167);
}

.tack1{
    border: 2px solid black;
    border-radius: 15px;
    height: 57px;
    width: 150px;
    position: absolute;
    display: flex;
    margin-left: 180px;
    color: black
}
.tack1 a{
    color: black;
}
.tack1:hover{
    background-color: rgb(64, 64, 167);
}
.tack2{
    border: 2px solid black;
    border-radius: 15px;
    height: 57px;
    width: 150px;
    position: absolute;
    display: flex;
    margin-left: 360px;
}
.tack2 a{
    color: black;
}
.tack2:hover{
    background-color: rgb(64, 64, 167);
}

.tack3{
    border: 2px solid black;
    border-radius: 15px;
    height: 57px;
    width: 150px;
    position: absolute;
    display: flex;
    margin-top: 75px;
}
.tack3 a{
    color: black;
}
.tack3:hover{
    background-color: rgb(64, 64, 167);
}
.boter-chinhanh{
    margin-top: 160px;
}
.elsu
{
    border: 2px solid black;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    position: absolute;
    display: flex;
    margin-top: 19px;
}
.elsu a{
    color: black;
}
.elsu1
{
    border: 2px solid black;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    position: absolute;
    display: flex;
    margin-top: 19px;
    margin-left: 180px;
}
.elsu1 a{
    color: black;
}
.elsu2
{
    border: 2px solid black;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    position: absolute;
    display: flex;
    margin-top: 19px;
    margin-left: 360px;
}
.elsu2 a{
    color: black;
}
.elsu3
{
    border: 2px solid black;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    position: absolute;
    display: flex;
    margin-top: 90px;
}
.elsu3 a{
    color: black;
}
.elsu3 a:hover
{
color: rgb(59, 59, 224);
}
.elsu2 a:hover
{
color: rgb(59, 59, 224);
}
.elsu1 a:hover
{
color: rgb(59, 59, 224);
}
.elsu a:hover
{
color: rgb(59, 59, 224);
}









 




